// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$primary : #646A7E;
$secondary:#70C171;
$input-border-radius:  0px;
$input-border-radius:  0px;

$btn-border-radius: 0px;